<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Branch" value="IQ3"/>
	</appSettings>
  <connectionStrings>
    <add name="DbConnStr"
        connectionString="Server=(localdb)\MSSQLLocalDB;Database=newVMS;Trusted_Connection=True;TrustServerCertificate=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>